<h1>Epigotchi</h1>
<h3>Please add the name of your pet:</h3>
<form action='/home' method='post'>

  <label for='new-name'>Name: </label>
  <input id='new-name' name='new-name' type='text'>

  <button type='submit'>Add User</button>
</form>
